[user]
  name = Tatsuro Sakaguchi
  email = tatsuro.sakaguchi@g.softbank.co.jp
[push]
  default = simple
[pull]
  ff = only
[alias]
  alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
  cho = checkout
  sw = switch
  cm = commit -F-
  ca = commit --amend
  can = commit --amend --no-edit
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pr = pull-request
  see = browse
  refresh= !git pull && git remote | xargs git remote prune && git clean-br
  unstage = reset -q HEAD --
  clean-br = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
  push-f = push --force-with-lease
  clone = clone --recursive
  current-track-branch = ! git branch -vv | grep -e '^\\* ' | sed -e 's/^.*\\[\\([^:]*\\).*\\].*$/\\1/'
  force-pull = !git fetch --all && git stash -u && git reset --hard $(git current-track-branch)

[core]
  excludesfile = ~/.gitignore_global
	hooksPath = ~/.git_template/hooks

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[submodule]
  recurse = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[init]
  templatedir = ~/.git_template
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
